<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WebUSB ESC/POS demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/1.0.30/encoding.min.js" integrity="sha256-3N1q3S/Cg/TL0ER062kNT2VYIsHLzEqymlj2dEXYhXI=" crossorigin="anonymous"></script>
    <!-- <script src="../printer/webusb-escpos.js"></script>
    <script src="../printer/binaryimage.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='javascript/webusb-escpos.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='javascript/binaryimage.js') }}"></script> -->
</head>
<body>
    <h1>WebUSB ESC/POS demo</h1>
    <p id="message">click "start" to connect printer</p>
    <textarea placeholder="text to print"></textarea>
    <div>
        <button id="button-pair">pair</button>
        <button id="button-print-text">print text</button>
        <button id="button-cut">cut</button>
        <input type="file" id="input-file">
        <button id="button-print-image">print image</button>
        <button id="button-58mm">58mm</button>
        <button id="button-80mm">80mm</button>
    </div>
</body>
</html>